  .axis {
    font: 10px sans-serif;
  }

  .axis path,
  .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
  }

  .axis--y path {
    display: none;
  }

  .bar {
    fill: #3182bd;
    fill-opacity: .9;
  }

  .wld {
    fill: #9ecae1;
  }
  
  .chart-title {
    margin-bottom: 0;
  }
  
  .source {
    margin-top: 0;
    font-size: 11px;
  }